@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/* colors */

:root {
  /* primary colors */
  --bright-blue: hsl(220, 98%, 61%);
  --checkmark-background: linear-gradient(
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  /* light theme colors */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue-light: hsl(233, 11%, 84%);
  --dark-grayish-blue-light: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* dark theme colors */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue-dark: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue-dark: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  /* - Very Dark Grayish Blue: hsl(237, 14%, 26%) */
}

/* Dark Theme */
* {
  font-family: "Josefin Sans", sans-serif;
}
/* Background */
.dark {
  background-image: url("images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 1440px 300px;
  background-position-x: center;
  background-position-y: -8px;
  background-color: black;
}

/* Light Theme */
/* Background */
.light {
  background-image: url("images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: 1440px 300px;
  background-position-x: center;
  background-position-y: -8px;
  background-color: var(--very-light-gray);
}

.new-activity-light,
.new-activity-dark {
  display: flex;
  align-items: center;
}

.new-activity-light input,
.new-activity-dark input {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--dark-grayish-blue-light);
  border: none;
  height: 2rem;
  padding: 10px;
  font-size: 1.1rem;
}

input:focus {
  border: none;
  outline: none;
}

.new-activity-dark input {
  color: var(--dark-grayish-blue-light);
  background: var(--very-dark-desaturated-blue);
}





.add-activity-button img {
  height: 20px;
  width: 20px;
  margin-left: -30px;
  margin-right: 10px;
}

.empty-check-light,
.empty-check-dark {
  background: white;
  width: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-position: center center;
  text-align: center;
  vertical-align: center;
  height: 52px;
  background-repeat: no-repeat;
  padding-right: 10px;
}

.empty-check-dark {
  background: var(--very-dark-desaturated-blue);
}

.empty-check-circle-light,
.empty-check-circle-dark {
  display: flex;
  border: 1px solid var(--very-light-grayish-blue);
  border-radius: 20px;
  width: 20px;
  height: 20px;
  padding: 1px;
  vertical-align: center;
  justify-content: center;
  margin: 13px 0px 0px 15px;
}
.empty-check-circle-dark {
  border-color: var(--very-dark-grayish-blue);
}
.empty-check-circle-light img,
.empty-check-circle-dark img {
  width: 10px;
  height: 10px;
  margin-top: 5px;
}
.empty-check-circle-dark:hover,
.empty-check-circle-light:hover {
  position: relative;
  background-image: var(--checkmark-background);
}
.empty-check-circle-dark:hover::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11.5px;
  transform: translate(-50%, -50%);
  width: 19.5px;
  height: 19.5px;
  border-radius: 20px;
  background-color: var(--very-dark-desaturated-blue);
}

.empty-check-circle-light:hover::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11.5px;
  transform: translate(-50%, -50%);
  width: 19.5px;
  height: 19.5px;
  border-radius: 20px;
  background-color: white;
}

.empty-check-circle-light button,
.empty-check-circle-dark button {
  border: none;
  background: transparent;
}
.activity-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.activity-item:hover {
  background-image: url(images/icon-cross.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

.check-circle-complete {
  background-image: url("images/icon-check.svg"), var(--checkmark-background);
  background-repeat: no-repeat;
  background-position: center center;
}

.activity-complete-light {
  text-decoration: line-through;
  color: var(--very-light-grayish-blue);
}

.activity-complete-dark {
  text-decoration: line-through;
  color: var(--dark-grayish-blue-dark);
}

.delete-activity {
  width: 30px;
  height: 30px;
  background: transparent;
  margin: 0;
  padding: 0;
}

.new-activity-light button,
.new-activity-dark button {
  background: transparent;
  border: none;
  margin-left: -41px;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: light;
  color: var(--dark-grayish-blue-light);
}
.card-list-light,
.card-list-dark {
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 15px rgb(0, 0, 0, 0.1);
}

.card-list-dark {
  background-color: var(--very-dark-desaturated-blue);
}

.activity-list-light,
.activity-list-dark {
  color: var(--very-dark-grayish-blue);
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 15px;
  border-bottom: 1px solid var(--very-light-grayish-blue);
}

.activity-list-dark {
  color: var(--light-grayish-blue-dark);
  border-bottom: 1px solid var(--very-dark-grayish-blue);
}

.activity-list-light .empty-check-circle-light,
.activity-list-dark .empty-check-circle-dark {
  margin: 0px;
}

.activity-list-item-light,
.activity-list-item-dark {
  margin-left: 20px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  box-shadow: 3px 3px 15px rgb(0, 0, 0, 0.1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-buttons-light {
  background: white;
}

.card-buttons-dark {
  background: var(--very-dark-desaturated-blue);
}

.card-buttons-dark button {
  border: none;
  background-color: var(--very-dark-desaturated-blue);
  color: var(--dark-grayish-blue-dark);
}

.card-buttons-light button {
  border: none;
  color: var(--dark-grayish-blue-light);
  background: white;
}

.card-buttons-dark button:hover,
.card-buttons-light button:hover {
  cursor: pointer;
}
.card-buttons-dark button:hover {
  color: var(--light-grayish-blue-dark);
}

.card-buttons-light button:hover {
  color: var(--very-dark-grayish-blue);
}

.light-paragraph,
.dark-paragraph {
  font-size: 1rem;
  color: var(--dark-grayish-blue-light);
  text-align: center;
  margin-top: 40px;
}

.center-crud-buttons {
  display: flex;
  align-items: center;
  font-family: "Josefin Sans Bold", sans-serif;
  font-weight: bold;
}
.button-selected {
  color: var(--bright-blue);
}

@media (max-width: 600px) {
  /* Background */
  .dark {
    background-image: url("images/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-x: center;
    background-position-y: -8px;
    background-color: black;
  }

  /* Light Theme */
  /* Background */
  .light {
    background-image: url("images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-x: center;
    background-color: var(--very-light-gray);
  }

  .card-buttons {
    margin-top: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .activity-list-light,
  .activity-list-dark,
  .new-activity-light input,
  .new-activity-dark input {
    font-size: 0.8rem;
  }

  .activity-item {
    background-image: url(images/icon-cross.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 13px 13px;
  }

  .display-small-only {
    margin-top: 0;
    height: 20px;
    box-shadow: none;
  }

  .add-activity-button img {
    height: 20px;
    width: 20px;
  }
}
